* {
   box-sizing: border-box;
}

body, a, ul, h1, h2, h3, h4, h5, p {
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
}

section {
   max-width: 980px;
}

/* Links and buttons */
.btn {
   font-size: 1em;
   font-weight: 500;

   padding: 5px 0;
   border: none;
   border-radius: 10px;
   background: #D6000D;
}

.btn:hover {
   background: #A2000A;
}

/* ---------- */

/* Header */

header {
   max-width: 980px;
   margin: 0 auto;

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

header h1 {
   margin: 15px 15px 20px 15px;
   font-style: italic;
   font-weight: 500;
   font-size: 3em;
   line-height: 56px;
   text-align: center;

   color: #D6000D;
}

header h1 span {
   color: #000; 
}

header ul {
   display: flex;
   margin: 0 15px; 
}

header .login {
   padding: 20px;
   font-style: normal;
   font-weight: bold;
   font-size: 1.5em;
   line-height: 28px;

   border-radius: 10px;
   color: #FFFFFF;
}

header .login:hover {
   color: #FFFFFF;
}

header .login {
   opacity: 0;
   display: none;
}

header ul a {
   padding: 15px;
   font-style: normal;
   font-weight: normal;
   font-size: 1.5em;
   line-height: 28px;

   color: #000;
}

header ul a:hover {
   color: #A2000A;
}

@media (min-width: 650px) {
   header {
      margin: 0 auto;
   
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   header .login {
      opacity: 1;
      display: initial;
   }
}

/* ----------  */

/* Section main */
.main {
   margin: 20px 35px;

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.main > div {
   margin-bottom: 25px;
}

.main .info {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
}

.main .info h2 {
   margin-bottom: 10px;
   
   font-style: normal;
   font-weight: bold;
   font-size: 1.125em;
   line-height: 21px;
}

.main .info h1 {
   margin-bottom: 25px;

   font-style: normal;
   font-weight: bold;
   font-size: 2.75em;
   line-height: 52px;

   color: #D6000D;
}


.main .info button a {   
   padding: 8px 20px;

   font-style: normal;
   font-weight: 500;
   font-size: 1.125em;
   line-height: 21px;
   display: flex;
   align-items: center;

   color: #FFFFFF;
}

@media (min-width: 650px) {
   .main {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
   }

   .main img {
      max-width: 410px;
   }
}

/* ----------  */

/* services */
.services {
   margin: 60px auto;
   padding: 0 25px;

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.services > div {
   margin-bottom: 20px;
}

.services .lists {
   margin: 20px 0;
}

.services .list {
   display: flex;
   align-content: center;
   margin-bottom: 10px;
}

.services .list p {
   margin: 0 15px;
}

.services .details form {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
}

.services .details form h3 {
   margin-bottom: 15px;
   font-style: normal;
   font-weight: bold;
   font-size: 1.125em;
   line-height: 21px;
}

.services .details form input {
   margin: 0 10px;
   padding: 10px 15px;
   max-width: 236px;

   border: none;
   border-radius: 10px;
   background: #E2E1E1;

   font-family: 'Roboto';
   font-size: 0.875em;
   line-height: 16px;
}

.services .details form button {
   padding: 8px 20px;
   margin: 10px;

   max-width: 236px;
}

.services .details form button a {
   color: #fff;
}

@media (min-width: 650px) {
   .services {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   .services > div {
      margin: 15px;
      flex: 2;
      order: 2;
   }

   .services img {
      max-width: 500px;
   }

   .services .details {
      order: 1;
      align-self: flex-end;
   }
}

/* Comments */
.comments {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   margin: 60px auto;
}

.comments .card {
   display: flex;
   max-width: 400px;
   padding: 15px 20px;
   margin: 15px;
   border-radius: 10px;
   background: #E2E1E1;
}

.comments .card .circle {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   background: #D6000D;
}

.comments .card .details {
   flex: 1;
   padding: 0 10px;
}

.comments .card .details p {
   margin-bottom: 10px;
   font-size: 0.900em;
   line-height: 13px;
}

.comments .card .details h4 {
   font-size: 1.125em;
   line-height: 21px;
}

@media (min-width: 650px) {
   .comments {
      flex-direction: row;
      justify-content: center;
   }
}

/* ---------- */

/* Footer */
footer {
   background: #000;
   color: #fff;

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding: 30px 20px;
}






