* {
   box-sizing: border-box;
}

body, a, ul, h1, h2, p {
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
   margin: 0;
}

section {
   max-width: 980px;
}

/* Header */

header {
   max-width: 980px;
   margin: 0 auto;

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

header h1 {
   margin: 15px 15px 20px 15px;
   font-style: italic;
   font-weight: 500;
   font-size: 3em;
   line-height: 56px;
   text-align: center;

   color: #D6000D;
}

header h1 span {
   color: #000; 
}

header ul {
   display: flex;
   margin: 0 15px; 
}

header .login {
   padding: 8px 20px;
   font-style: normal;
   font-weight: bold;
   font-size: 1.5em;
   line-height: 28px;

   border-radius: 10px;
   color: #FFFFFF;
   background: #D6000D;

}

header .login {
   opacity: 0;
   display: none;
}

header ul a {
   padding: 15px;
   font-style: normal;
   font-weight: normal;
   font-size: 1.5em;
   line-height: 28px;

   color: #000;
}

header ul a:hover {
   color: #A2000A;
}

@media (min-width: 650px) {
   header {
      max-width: 980px;
      margin: 0 auto;
   
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }

   header .login {
      opacity: 1;
      display: initial;
   }
}

/* Section videocall */
.videocall {
   margin: 20px 15px;
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;

}

.videocall img {
   height: 260px;
   align-items: center;
}
